{% set hosts = groups[hostvars[inventory_hostname].group_names[0]] -%}
{% set current_host_index = hosts.index(inventory_hostname) -%}
broker.id={{ current_host_index }}
listeners=PLAINTEXT://0.0.0.0:9092
advertised.listeners=PLAINTEXT://{{ inventory_hostname }}:9092
num.network.threads={{ num_network_threads }}
num.io.threads={{ num_io_threads }}
socket.send.buffer.bytes={{ socket_send_buffer_bytes }}
socket.receive.buffer.bytes={{ socket_receive_buffer_bytes }}
socket.request.max.bytes={{ socket_request_max_bytes }}
num.partitions={{ num_partitions }}
num.recovery.threads.per.data.dir={{ num_recovery_threads_per_data_dir }}
{% if offsets_topic_replication_factor > (ansible_play_hosts | length) %}
{% set offsets_topic_replication_factor = (ansible_play_hosts | length) -%}
{% endif %}
{% if transaction_state_log_replication_factor > (ansible_play_hosts | length) %}
{% set transaction_state_log_replication_factor = (ansible_play_hosts | length) -%}
{% endif %}
{% if default_replication_factor > (ansible_play_hosts | length) %}
{% set default_replication_factor = (ansible_play_hosts | length) -%}
{% endif %}
{% if transaction_state_log_min_isr > (ansible_play_hosts | length) %}
{% set transaction_state_log_min_isr = (ansible_play_hosts | length) -%}
{% endif %}
offsets.topic.replication.factor={{ offsets_topic_replication_factor }}
transaction.state.log.replication.factor={{ transaction_state_log_replication_factor }}
transaction.state.log.min.isr={{ transaction_state_log_min_isr }}
default.replication.factor={{ default_replication_factor }}

#LOG PART
log.dirs={{ data_dir_path }}
log.retention.hours={{ log_retention_hours }}
log.retention.bytes={{ log_retention_bytes }}
log.segment.bytes={{ log_segment_bytes }}
log.retention.check.interval.ms={{ log_retention_check_interval_ms }}
log.cleaner.enable={{ log_cleaner_enable }}

#ZOOKEPER PART
{% if ansible_play_hosts | length == 1 %}
zookeeper.connect={{ inventory_hostname }}:2181
{% elif ansible_play_hosts | length > 1 %}
zookeeper.connect={{ groups[hostvars[inventory_hostname].group_names[0]] | map('extract', hostvars, ['ansible_hostname']) | join(':2181,') }}:2181
{% endif %}
zookeeper.connection.timeout.ms={{ zookeeper_connection_timeout_ms }}
group.initial.rebalance.delay.ms={{ zookeeper_initial_rebalance_delay_ms }}
